<!-- As a heading -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-around">
    <div>
      <img src="../../assets/facebook-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top icon">
      <img src="../../assets/instagram-social-media-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top icon">
      <img src="../../assets/twitter-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top icon">
    </div>
    <div>
      <h1 class="navbar-brand mb-0 h1">Pure Protein</h1>
    </div>
    <div>
      <button type="button" class="btn btn-primary">Call Us</button>
    </div>
  </div>
</nav>
<div class="card text-bg-dark section">
  <div class="card-img-overlay p-5">
    <h2 class="card-title">Innovar en Tarragona, CT</h2>
    <p class="card-text">Pure Protein en Tarragona, CT ofrece productos de nutrición con altos niveles de proteínas y sabor. ¡Descubre su amplia gama de batidos, barritas y otros snacks nutritivos para mantenerte en forma y saludable!</p>
    <button type="button" class="btn btn-primary">Contact</button>
  </div>
</div>
